<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>EscaTech CA</title>
		<link rel="icon" href="images/eCA.png">
		<link rel="stylesheet" href="stylesheet/main.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Barlow" rel="stylesheet">
	</head>
	
	<body>

		<header>
	
			<div class="EscaTech-Logo">
				<a href="/"> <img src="images/EscatechCA-B.png" alt="Logo EscaTech CA" class="img1"> </a>
				<a href="/"> <img src="images/eCA.png" alt="Logo EscaTech CA" class="img2"> </a>
			</div>
	
			<nav class="NavHeader">
				<ul>
					<li>

						<ion-icon name="search-outline"></ion-icon>
						<input type="text" placeholder="Buscar" style="text-indent: 10px;">

					</li>
	
					<select class="selectheader" onchange="window.location.href = this.value;" id="selectheader">
						<option value="/"> Inicio </option>
						<option value="/productos" > Productos</option>
						<option value="#" > Contacto </option>
						<option value="/ingresar" > Acceder </option>
						<option value="/registrar" class="RegistrarLista"> Registrar </option>
					</select>

					<div class="NavPC">
						<li> <a href="/">Inicio</a> </li>
	
						<li> <a href="/productos">Productos</a> </li>
		
						<li> <a href="#">Contacto</a> </li>
		
						<li> <button><a href="/ingresar">Acceder</a></button> </li>
		
						<li> <button class="BotonRegistrar"><a href="/registrar">Registrar</a></button></li>

					</div>
				</ul>
			</nav>
			
		</header>

		<main>
	
			<section style="background-image: linear-gradient(to bottom, #abe2fd, #E0F2FB, #abe2fd)">

				<div class="QuienesSomos">
					
					<img src="images/Gamer.jpg" alt="Gamer">
					<h2>¿Quiénes somos?</h2>
					<p> Somos una empresa especializada en la venta de equipos y componentes de informática para gamers. Nuestro objetivo es proporcionar a nuestros clientes la mejor experiencia de juego posible, ofreciendo productos de alta calidad a precios competitivos. </p>
					<p> En nuestra tienda, encontrarás una amplia variedad de productos para gamers, incluyendo equipos de escritorio, portátiles, monitores, teclados, ratones, auriculares y más. Además, ofrecemos servicios de reparación y configuración de equipos informáticos, para que puedas estar seguro de que tus dispositivos están en las mejores manos. </p>
	
				</div>     

			</section>
	
			<section style="background-image: linear-gradient(to bottom, rgb(1, 26, 110), rgb(7, 50, 189), rgb(1, 26, 110));">

				<div class="Productosdestacados">
	
					<h2>Productos destacados</h2>
	
						<div style="display: flex; align-items: center; justify-content:center;">

							<button id="BotonIzquierda">←</button>
							<ul id="DatosDestacado">


							</ul>
							<button id="BotonDerecha">→</button>

						</div>
						
				</div>
				<a class="MostrarMas" href="/productos">Mostrar mas productos</a>

			</section>
	
			<section>

				<ul class="Categorias">
					<li onclick="window.location.href='#'" class="Computadoras"><a href="#">Computadoras</a></li>
	
					<li onclick="window.location.href='#'" class="Telefonos"><a href="#">Teléfonos</a></li>
	
					<li onclick="window.location.href='#'" class="Perifericos"><a href="#">Periféricos</a></li>
	
					<li onclick="window.location.href='#'" class="Laptops"><a href="#">Laptops</a></li>
				</ul>

			</section>
			
			<section class="Contacto">
	
				<div class="InformacionContacto">	

					<table>
						<tr>

							<td class="TextoContacto">

								<h2 style="margin-top: 0;">Contacto para servicios de reparación y configuración de equipos</h2>
								<p> En nuestra empresa, ofrecemos servicios de reparación y configuración de equipos informáticos para particulares y empresas. Si tu equipo presenta algún problema o no funciona correctamente, nuestro equipo de expertos en reparación de equipos informáticos estará a tu disposición para solucionar cualquier avería. <br> </p>
								<p> Además, si necesitas configurar tu equipo para un uso específico, como por ejemplo para trabajar desde casa, nuestro equipo de expertos en configuración de equipos podrá ayudarte a optimizar tu equipo para que puedas trabajar con la máxima eficiencia. <br> </p>
								<p> No importa si se trata de un problema de hardware o software, o si necesitas ayuda para configurar tu equipo para un uso específico, nuestro equipo de técnicos altamente capacitados está aquí para ayudarte. ¡No dudes en contactarnos para obtener más información sobre nuestros servicios de reparación y configuración de equipos!<br></p>

							</td>
	
							<td class="ImagenContacto"> <img src="images/Reparacion.webp" alt="Reparaciones"> </td>
						</tr>
						<tr>
							<td class="ImagenContacto2"> <img src="images/Reparacion.webp" alt="Reparaciones"> </td>
						</tr>
					</table>

				</div>
	
				<div class="Formulario">

					<form action="" method="POST">
	
						<h2> Agrega tus datos al formulario</h2>
	
						<label for="nombre">Nombre:</label>
						<ion-icon name="person-outline"></ion-icon>
						<input type="text" id="nombre" name="Nombre" class="Texto"><br>
	
						<label for="email">Email:</label>
						<ion-icon name="mail-outline"></ion-icon>
						<input type="email" id="correo" name="Correo" class="Texto"><br>
	
						<label for="equipo">Equipo:</label>
						<ion-icon name="desktop-outline"></ion-icon>
						<input type="text" id="equipo" name="Equipo" class="Texto"><br>
	
						<label for="mensaje">Mensaje:</label>
						<ion-icon name="text-outline"></ion-icon>
						<input type="text" id="mensaje" name="Mensaje" class="TextoMensaje"><br>
	
						<input type="submit" value="Enviar formulario">
	
					</form>
	
					<div class="mapa">

						<h2 style="margin-top: 0;">Nuestra ubicación</h2>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62994.161199668335!2d-70.6560383693167!3d9.32129763203319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6328692ebdd3d5%3A0xd3d8efa5fb790d11!2sValera%2C%20Trujillo!5e0!3m2!1ses!2sve!4v1685988468476!5m2!1ses!2sve" width="550" height="350" style="border:0; border-radius: 30px; filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

					</div>
	
				</div>

				<div class="mapa2">

					<h2 style="margin-top: 0;">Nuestra ubicación</h2>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62994.161199668335!2d-70.6560383693167!3d9.32129763203319!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6328692ebdd3d5%3A0xd3d8efa5fb790d11!2sValera%2C%20Trujillo!5e0!3m2!1ses!2sve!4v1685988468476!5m2!1ses!2sve" style="border:0; border-radius: 30px; filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 1));" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

				</div>
	
			</section>
	
			<button class="BotonFlotante">
				<a><ion-icon name="cart-outline"></ion-icon></a>
			</button>
	


		</main>
	
		<footer>
			<p>Derechos reservados &copy; 2023 Tienda de tecnología</p>
		</footer>


		<p id="DatosExtraidos" style="display: none;"> <%= JSON %> </p>
		<script>
			let res = document.getElementById("DatosDestacado")
		  	let Datosjson = JSON.parse(document.getElementById("DatosExtraidos").innerText)
		  	res.innerHTML = ""


		  	let contador = 0

		  	for(let item of Datosjson){
			contador = contador + 1
			res.innerHTML += `
	
				<li onclick="window.location.href='#'" class="Productos">
		
					<img src="${item.Foto}" alt="Producto ${contador}">
					<a>${item.NombreProducto}<br><b>Precio ${item.Precio}$</b></a>

				</li>
				`
		  	}
		</script>
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


	</body>

</html>