<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Ingresar a EscaTech CA</title>
		<link rel="icon" href="images/eCA.png">
        <link rel="stylesheet" href="stylesheet/loginyregister.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Barlow" rel="stylesheet">
    </head>

    <body>

        <header>
	
			<div class="EscaTech-Logo">
				<a href="/"> <img src="images/EscatechCA-B.png" alt="Logo EscaTech CA" class="img1"> </a>
				<a href="/"> <img src="images/eCA.png" alt="Logo EscaTech CA" class="img2"> </a>
			</div>
	
			<nav class="NavHeader">
				<ul>
					<li>

						<ion-icon name="search-outline"></ion-icon>
						<input type="text" placeholder="Buscar" style="text-indent: 10px;">

					</li>
	
					<select class="selectheader" onchange="window.location.href = this.value;" id="selectheader">
                        <option value="/ingresar" > Acceder </option>
						<option value="/"> Inicio </option>
						<option value="/productos" > Productos</option>
						<option value="#" > Contacto </option>
                        <option value="/registrar" class="RegistrarLista"> Registrar </option>

					</select>

					<div class="NavPC">
						<li> <a href="/">Inicio</a> </li>
	
						<li> <a href="/productos">Productos</a> </li>
		
						<li> <a href="#">Contacto</a> </li>
		
						<li> <button><a href="/ingresar">Acceder</a></button> </li>
		
						<li> <button class="BotonRegistrar"><a href="/registrar">Registrar</a></button></li>

					</div>
				</ul>
			</nav>
			
		</header>

        <main>

            <video src="/images/Fondo.mp4" autoplay="true" muted="true" loop="true"></video>

            <section>

                <div class="centro">

                    <div>

                        <form action="" method="POST" id="loginForm">
                            <h2>Login</h2>

                            <div class="cajastexto">

                                <ion-icon name="person-outline"></ion-icon>
                                <input type="User" name="Usuario" id="Usuario" required>
                                <label for="">Correo o Usuario</label>

                            </div>

                            <div class="cajastexto">

                                <ion-icon name="lock-closed-outline"></ion-icon>
                                <input type="password" name="Contraseña" id="Contraseña" required>
                                <label for="">Contraseña</label>

                            </div>

                            <button type="submit">Ingresar</button>
                        </form>

                    </div>

                </div>

            </section>

        </main>

        <footer>
			<p>Derechos reservados &copy; 2023 Tienda de tecnología</p>
		</footer>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>