<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Productos de EscaTech CA</title>
		<link rel="icon" href="/images/eCA.png">
		<link rel="stylesheet" href="stylesheet/productos.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Rubik" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Barlow" rel="stylesheet">
	</head>
	
	<body>
	
		<header>
	
			<div class="EscaTech-Logo">
				<a href="/"> <img src="images/EscatechCA-B.png" alt="Logo EscaTech CA" class="img1"> </a>
				<a href="/"> <img src="images/eCA.png" alt="Logo EscaTech CA" class="img2"> </a>
			</div>
	
			<nav class="NavHeader">
				<ul>
					<li>

						<ion-icon name="search-outline"></ion-icon>
						<input type="text" placeholder="Buscar" style="text-indent: 10px;">

					</li>
	
					<select class="selectheader" onchange="window.location.href = this.value;" id="selectheader">
						<option value="/productos" > Productos</option>
						<option value="/"> Inicio </option>
						<option value="#" > Contacto </option>
						<option value="/ingresar" > Acceder </option>
						<option value="/registrar" class="RegistrarLista"> Registrar </option>
					</select>

					<div class="NavPC">
						<li> <a href="/">Inicio</a> </li>
	
						<li> <a href="/productos">Productos</a> </li>
		
						<li> <a href="#">Contacto</a> </li>
		
						<li> <button><a href="/ingresar">Acceder</a></button> </li>
		
						<li> <button class="BotonRegistrar"><a href="/registrar">Registrar</a></button></li>

					</div>
				</ul>
			</nav>
			
		</header>
	
		<nav class="BarraLateral">
			<ul>
				<li> <h2>Categorías</h2> </li>
	
				<li> <a href="#">Computadoras</a> </li>
	
				<li> <a href="#">Teléfonos</a> </li>
	
				<li> <a href="#">Periféricos</a> </li>
	
				<li> <a href="#">Laptops</a> </li>
	
			</ul>
		</nav>
	
		<main>
			<h2 style="text-align: center; padding-top: 20px;"> Productos disponibles en EscaTech</h2>
			<h4 style="text-align: right; background-color: #abe2fd; padding: 10px; margin-bottom: 0;">Ordenar por: 
				
				<select> 
	
					<option value="Relevante">Más relevante</option>
	
					<option value="MenorPrecio">Menor Precio</option>
	
					<option value="Mayor Precio">Menor Precio</option>
	
				</select>
				
			</h4>
	
			<section style="background-image: linear-gradient(to bottom, rgb(226, 233, 255), rgb(255, 255, 255), rgb(226, 233, 255))"> 
				<h2 style="text-align: center; margin-bottom: 0;"> Computadoras </h2>
	
				<div class="Productos">
					
					<ul class="ListaProductos">
	
						<li onclick="window.location.href='#'">

							<img src="images/Pc1.jpg" alt="Producto 1">
							<a>Pc Gamer Intel I3 12th, Rtx 3060, 32gb Ram<br><b>Precio $1200,00</b></a>

						</li> 
	
						<li onclick="window.location.href='#'">

							<img src="images/pc2.webp" alt="Producto 2">
							<a>PC Gamer Intel I5 12400f, 16gb, Rtx 3060, 12gb Ram<br><b>Precio $1400,00</b></a>

						</li> 
	
						<li onclick="window.location.href='#'">

							<img src="images/pc3.webp" alt="Producto 3">
							<a>Pc Gamer Alarco I7, 16gb Ram, HDD 1Tb, Nvidia Gtx 750 4 Gb<br><b>Precio $700,00</b></a>

						</li> 
	
						<li onclick="window.location.href='#'">

							<img src="images/pc4.webp" alt="Producto 4">
							<a>Ryzen 5 5600G, 16gb Ram, SSD 500gb<br><b>Precio $500,00</b></a>

						</li>
	
						<li onclick="window.location.href='#'">

							<img src="images/pc5.webp" alt="Producto 5">
							<a>PC Gamer I5 12ma Gen, 16gb Ram, ssd 480gb, rtx 30501<br><b>Precio $1150,00</b></a>

						</li>
	
						<li onclick="window.location.href='#'">

							<img src="images/Ryzen5-2gen" alt="Producto 6">
							<a>Procesador Ryzen 5 2gen<br><b>Precio $150,00</b></a>

						</li>
	
						<li onclick="window.location.href='#'">

							<img src="images/MemoriaRam1.jpg" alt="Producto 7">
							<a>Memoria RAM DDR4 8GB<br><b>Precio $40,00</b></a>

						</li>	
	
					</ul>

				</div>

			</section>
	
			<section style="background-image: linear-gradient(to bottom, rgb(1, 26, 110), rgb(7, 50, 189), rgb(1, 26, 110)); color: white;"> 
				<h2 style="text-align: center; margin-bottom: 0;"> Teléfonos </h2>
	
				<div class="Productos">
					<ul class="ListaProductos">
	
						<li onclick="window.location.href='#'">

							<img src="images/telefono1.webp" alt="Producto 1">
							<a>Samsung Galaxy S20 FE 5G<br><b>Precio $350,00</b></a>

						</li>
	
						<li onclick="window.location.href='#'">

							<img src="images/telefono2.jpg" alt="Producto 2">
							<a>Samsung Galaxy S21 5G<br><b>Precio $600,00</b></a>

						</li>
	
						<li onclick="window.location.href='#'">

							<img src="images/telefono3.webp" alt="Producto 3">
							<a>Redmagic 7 5G<br><b>Precio $500,00</b></a>

						</li> 
	
						<li onclick="window.location.href='#'">

							<img src="images/telefono4.webp" alt="Producto 4">
							<a>Xiaomi 12 Pro<br><b>Precio $270,00</b></a>

						</li>

					</ul>
				</div>

			</section>
	
			<section style="background-image: linear-gradient(to bottom, rgb(226, 233, 255), rgb(255, 255, 255), rgb(226, 233, 255))">
				<h2 style="text-align: center; margin-bottom: 0;"> Periféricos </h2>
	
				<div class="Productos">
					<ul class="ListaProductos">
	
						<li onclick="window.location.href='#'">

							<img src="images/Mouse2.png" alt="Producto 1">
							<a>Mouse Redragon Cobra M711<br><b>Precio $25,00</b></a>

						</li> 
	
						<li onclick="window.location.href='#'">

							<img src="images/Mouse1.jpg" alt="Producto 2">
							<a>Mouse Gamer Redragon M719 Rgb Invader Negro<br><b>Precio $23,00</b></a>

						</li> 
	
						<li onclick="window.location.href='#'">

							<img src="images/Mouse3.jpg" alt="Producto 3">
							<a>Mouse Gamer Constrictor Striatus<br><b>Precio $27,00</b></a>

						</li> 
	
						<li onclick="window.location.href='#'">

							<img src="images/Audifonos4.jpg" alt="Producto 4">
							<a>HP H220S Audífonos Gamer<br><b>Precio $50,00</b></a>

						</li>
	
						<li onclick="window.location.href='#'">

							<img src="images/Audifonos1.jpg" alt="Producto 5">
							<a>Audifonos Gamer Logitech G332<br><b>Precio $85,00</b></a>

						</li>
	
						<li onclick="window.location.href='#'">

							<img src="images/audifonos3.webp" alt="Producto 6">
							<a>Audífonos Gamer Inalámbricos Logitech G G733<br><b>Precio $150,00</b></a>

						</li>
	
						<li onclick="window.location.href='#'">

							<img src="images/teclado1.jpg" alt="Producto 7">
							<a>Teclado Gaming 60% Rgb Fantech Maxfit 61<br><b>Precio $60,00</b></a>

						</li>
	
						<li onclick="window.location.href='#'">

							<img src="images/teclado2.jpg" alt="Producto 8">
							<a>Teclado Mecanico Gaming Rgb. Fantech. Maxpower Mk853.<br><b>Precio $55,00</b></a>

						</li>
	
						<li onclick="window.location.href='#'">

							<img src="images/monitor2.jpg" alt="Producto 9">
							<a>Monitor Gaming Curvo 27 Pulgadas, Led-Full Hd, 165hz<br><b>Precio $320,00</b></a>

						</li>
	
					</ul>
				</div>

			</section>
	
			<section style="background-image: linear-gradient(to bottom, rgb(1, 26, 110), rgb(7, 50, 189), rgb(1, 26, 110)); color: white;"> 
				<h2 style="text-align: center; margin-bottom: 0;"> Laptops </h2>
	
				<div class="Productos">
					<ul class="ListaProductos">
	
						<li onclick="window.location.href='#'">

							<img src="images/laptop1.jpg" alt="Producto 1">
							<a>Acer Nitro Gaming Laptop Intel Core I7 11th, Rtx 3050 Ti<br><b>Precio $1200,00</b></a>

						</li> 
	
						<li onclick="window.location.href='#'">

							<img src="images/laptop2.jpg" alt="Producto 2">
							<a>Laptop Lenovo Gaming Core I5-11300h 8gb Ram 256gb Video 4gb<br><b>Precio $1000,00</b></a>

						</li> 
	
					</ul>
				</div>

			</section>
	
			<footer>
				<p>Derechos reservados &copy; 2023 Tienda de tecnología</p>
			</footer>
	
		</main>
	
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</body>

</html>